<div class="form-group mb-3" [formGroup]="queryForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">

  <p *ngIf="queryForm.pending">Please wait...</p>
  
  <!-- <validation-errors [field]="queryForm.get('query')"></validation-errors> -->

  <ng-container *ngIf="queryForm.get('query').touched || queryForm.get('query').dirty">

      <div *ngIf="queryForm.get('query').hasError('required')">
        Field is required
      </div>
  
      <div *ngIf="queryForm.get('query').getError('minlength') as error">
        Field have to be at least {{error.requiredLength}} characters long
      </div>
  
      <div *ngIf="queryForm.get('query').getError('censor') as error">
        Cant use bad words like "{{error.badword}}"
      </div>
  
    </ng-container>
</div>
