<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form
      (queryChange)="search($event)"
      [query]="query$ | async">
    </app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">

    <ng-container *ngIf="albums$ | async as albums; else noResults">

      <p>Found {{ albums.length }} results.</p>
      {{message}}

      <app-albums-grid [albums]="albums ">
      </app-albums-grid>

    </ng-container>
    <ng-template #noResults>Nothing here ... </ng-template>
  </div>
</div>
